*{
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

@font-face{
    font-family: 'PT Sans', sans-serif;
    src("assets/PT_Sans-Web-Regular.ttf");
}

body{
    background-image: linear-gradient(rgb(126, 85, 214), rgb(112, 166, 255));
}

.displayNone{
    display: none;
}

#container{
    height: auto;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.07);
    color: rgba(255, 255, 255, 1);
    padding: 20px;
    border-radius: 10px;
    margin: 5em auto;
}

#timezone{
    text-align: center;
    margin-bottom: 10px;
}

.alignTextCenter{
    text-align: center;
    margin-bottom: 10px;
}

#iconContainer{
    display: flex;
    justify-content: center;
}

.dataContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

#userSearchPrompt{
    width: 50%;
    height: auto;
    margin: auto;
}

#useCurrentLocation{
    margin: 1em auto 0 auto;
}

#searchHeader{
    margin-bottom: 2em;
    color: white;
    font-size: 1.50em;
}

#searchLocationInitial{
    border:  none;
    border-bottom: 2px solid white;
    background-color: transparent;
    margin: 1em 0 1em 0;
    height: 1.5em;
    width: 100%;
    font-size: 1.25em;
    color: white;
    line-height: 4em;
}

#searchLocationButton{
    width: 10%;
}

#userSearchPrompt{
    margin-top: 2em;
}

#error{
    color: white;
    position: absolute;
    height: 1.15em;
}

/*@media screen and (max-width: 480px){*/
    /*body{*/
        /*background-image: linear-gradient(rgb(126, 85, 214), rgb(112, 166, 255));*/
    /*}*/

    /*#container{*/
        /*background-color: rgba(255, 255, 255, 0.07);*/
        /*color: rgba(255, 255, 255, 1);*/
        /*padding: 20px;*/
    /*}*/
/*}*/